li {
  list-style-type: none;
  background-color: #c7d1e0;
  width: 70%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

nav {
  background-color: #213b66;
  color: white;
}

button {
  background-color: #213b66;
  color: white;
}
form {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}

.post-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.post-status {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.subject {
  margin-top: 10px;
  width: 50%;
  text-align: left;
  margin-right: 840px;
  margin-top: 20px;
}
.time {
  margin-top: 20px;
}
.time-subject-container {
  padding-top: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  padding: none;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
}
nav {
  padding: 0;
}

.nav-options {
  background-color:  #c7d1e0;
  color: #213b66;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 10px;
}
.title {
  font-size: 40px;
}

.profile-card {
  background-color: #c7d1e0;
  width: 10%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  float: left;
  margin-left: 20px;
  margin-right: -166px;
}
.profile-btn {
  background-color: #213b66;
  color: white;
}
